<div id="radius-meter">
  <p>{{ radius|int }} m</p>
</div>

<div id="google-map-wrapper">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" refresh="map.refresh" ng-cloak>
    <ui-gmap-circle center="map.circle.center" radius="map.circle.radius" fill="map.circle.fill" stroke="map.circle.stroke" clickable="map.circle.clickable" draggable="map.circle.draggable" editable="map.circle.editable" visible="map.circle.visible" events="map.circle.events"></ui-gmap-circle>
  </ui-gmap-google-map>
</div>
